header{
    background-color:rgb(245, 245, 247);
    color:rgb(3, 3, 3);
    height:3cm;
    padding:20px;
    height: min-content;
    border-radius: 10px;
    text-align: center;
}
.title{
    font-family:'Courier New', Courier, monospace;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #035b96;
    padding: 10px 20px;
  }
  
  .nav-left a,
  .nav-right a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
  }
  
  .nav-right {
    display: flex;
  }
  

img{
    width:300px;
    border-radius: 8px;
    margin: 10px 0;
}

article{
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    margin: 2mm;
    padding: 20px;
    color:black;
}


article button {
    background-color: #007acc;
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
  }
  
  article button:hover {
    background-color: #0cb81b;
    opacity:1;
  }

  p{
    text-align: end;
  }
article .container{
    display: flex;
    justify-content: flex-end;
   
}

button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(75, 211, 12);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px;
}

button:hover{
    background-color: #15790c;
    opacity: 0.5;
}

a:hover{
    opacity: 0.6;
    
}

article:hover{
    opacity: 0.6;
    transition: 1s;
    background-color:white;
}

body{
    background-color: bisque;
}